@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');

header 
{ 
	background-color: #0D2C45;
	font-family: Cormorant Garamond;
	font-size: 18px;
}

.nav-link:link 
{ 
	text-decoration: none; 
	color:#ddf0ff
}

.nav-link:visited 
{ 
	text-decoration: none; 
	color:#ddf0ff;
}

.nav-link:hover 
{ 
	text-decoration: none; 
	color:#9DA4A8
}

main 
{ 	
	background-color:#d8e0e6;
}

#services 
{ 
	background-color:#2D516D; 
	color: #b9cbd7;
	font-family: Cormorant Garamond;
	font-size: 18px;
}

#gallery 
{ 
	background-color:#2D516D; 
	color: #9DA4A8;
	height: 575px;
}

#title 
{ 
	text-align:center; 
	color:#6CA1C3; 
	background-color:#386588; 
	font-family: Gabriola; 
	font-size: 48px; 
	height:60px; 
	margin: 10px; 
	width: 1300px
}

#list 
{ 
	background-color:#386588; 
	margin:10px; 
	width: 510px; 
	padding-top:15px
}

#statement 
{ 
	background-color:#386588; 
	margin:10px;
	font-style: italic;
	font-size: 18.5px;
}

h1 
{ 
	color:#6CA1C3; 
	font-family: Gabriola; 
	font-size: 53px
}

footer 
{ 
	background-color: #0D2C45; 
	color: #9DA4A8;
	font-family: Cormorant Garamond;
	font-size: 17px;
}

b 
{ 
	color:#6CA1C3
}

i 
{ 
	color:#0D2C45
}

#icons 
{ 
	background-color:#386588; 
	text-align: center; 
	line-height: 48px; 
	width: 415px; 
	height: 482px;
	margin-bottom: 24px;
	margin-left: 10px;
	padding-top: 5px;
}

#view 
{ 
	margin-left: 10px;
}

ul 
{ 
	list-style-type: none;
}

a:link 
{ 
	text-decoration: none; 
	color:#9DA4A8
}

a:hover 
{ 
	text-decoration: none; 
	color:#d8e0e6
}
